asgiref==3.2.10
dj-database-url==0.5.0
Django==3.1.1
django-heroku==0.3.1
django-tinymce4-lite==1.8.0
dnspython==2.1.0
docx==0.2.4
docx2pdf==0.1.7
gunicorn==20.0.4
jsmin==2.2.2
lxml==4.6.3
Pillow==8.2.0
psycopg2==2.8.6
pymongo==3.11.3
python-docx==0.8.10
pytz==2020.1
sqlparse==0.3.1
tqdm==4.60.0
whitenoise==5.2.0
